In [2]:
import pandas as pd
import numpy as np
import json

## Считываем 9 исходных файлов в дф

### 1 json-файл

In [20]:
df_advertising_information = pd.read_json('D:/DO_NOT_REMOVE/Data_Analyst_Junior/7_11/Данные для кейса/Копия advertising_information.json')
df_advertising_information.shape

(8, 2)

In [21]:
df_advertising_information

        ad_channel  price
0           search   1.50
1           banner   0.50
2            video   0.75
3           native   2.00
4  partner_network   1.00
5             rich   2.50
6  organic_traffic   0.00
7            other    NaN

### 2 xlsx-файла

In [22]:
df_banner = pd.read_excel("D:/DO_NOT_REMOVE/Data_Analyst_Junior/7_11/Данные для кейса/Копия banner.xlsx")
df_banner.shape

(576169, 5)

In [23]:
df_banner.head(5)

   user_id funnel_stage  timestamp  profit       os
0   219687     interest     150000     NaN  Android
1   335514     interest     150000     NaN  Android
2   108759     interest     150000     NaN  Android
3   795063     interest     150000     NaN  Android
4   928373     interest     150000     NaN      iOS

In [24]:
df_rich = pd.read_excel("D:/DO_NOT_REMOVE/Data_Analyst_Junior/7_11/Данные для кейса/Копия rich.xlsx")
df_rich.shape

(64088, 5)

In [25]:
df_rich.head(5)

   user_id   funnel_stage  timestamp  profit   os
0   263061       INTEREST     150020     NaN  iOS
1   803654  CONSIDERATION     150041     NaN  iOS
2   320634       INTEREST     150042     NaN  iOS
3   654929  CONSIDERATION     150042     NaN  iOS
4   401613       INTEREST     150045     NaN  iOS

### 6 csv-файлов

In [115]:
df_search = pd.read_csv("D:/DO_NOT_REMOVE/Data_Analyst_Junior/7_11/Данные для кейса/Копия search.csv")
df_search = df_search.drop("Unnamed: 0", axis=1)
df_search.shape

(1491205, 5)

In [116]:
df_search.head(5)

   user_id   funnel_stage  timestamp  profit       os
0   387356       INTEREST     150000     NaN      iOS
1   619571  CONSIDERATION     150000     NaN      iOS
2   230119       INTEREST     150000     NaN      iOS
3   399556       INTEREST     150000     NaN      iOS
4   556959       INTEREST     150001     NaN  Android

In [48]:
df_search = df_search.drop("Unnamed: 0", axis=1)

In [49]:
df_search.head(5)

   user_id   funnel_stage  timestamp  profit       os
0   387356       INTEREST     150000     NaN      iOS
1   619571  CONSIDERATION     150000     NaN      iOS
2   230119       INTEREST     150000     NaN      iOS
3   399556       INTEREST     150000     NaN      iOS
4   556959       INTEREST     150001     NaN  Android

In [50]:
df_native = pd.read_csv("D:/DO_NOT_REMOVE/Data_Analyst_Junior/7_11/Данные для кейса/Копия native.csv")
df_native = df_native.drop("Unnamed: 0", axis=1)
df_native.shape

(117575, 5)

In [51]:
df_native.head(5)

   user_id   funnel_stage  timestamp  profit       os
0   991236       interest     150000     NaN  Android
1   622708       interest     150002     NaN      iOS
2   334823       interest     150003     NaN  Android
3   699175  consideration     150004     NaN      iOS
4   855631       interest     150010     NaN      iOS

In [56]:
column_names = ['Unnamed: 0','user_id','funnel_stage','timestamp','profit','os']  # Список с именами колонок

In [59]:
df_organic_traffic = pd.read_csv("D:/DO_NOT_REMOVE/Data_Analyst_Junior/7_11/Данные для кейса/Копия organic_traffic.csv", names=column_names)
df_organic_traffic = df_organic_traffic.drop("Unnamed: 0", axis=1)
df_organic_traffic.shape

(531584, 5)

In [60]:
df_organic_traffic.head(5)

   user_id   funnel_stage  timestamp  profit       os
0   897013       interest     150000     NaN  Android
1   242700       interest     150000     NaN  Android
2   143856       interest     150000     NaN  Android
3    26717  consideration     150000     NaN  Android
4   286799       interest     150001     NaN  Android

In [63]:
df_video = pd.read_csv("D:/DO_NOT_REMOVE/Data_Analyst_Junior/7_11/Данные для кейса/Копия video.csv")
df_video = df_video.drop("Unnamed: 0", axis=1)
df_video.shape

(655068, 5)

In [64]:
df_video.head(5)

   user_id   funnel_stage  timestamp  profit       os
0   111649  consideration     150000     NaN  Android
1   793204  consideration     150000     NaN  Android
2   107750       interest     150001     NaN  Android
3   438176       interest     150001     NaN  Android
4   515596  consideration     150003     NaN  Android

In [67]:
df_partner_network = pd.read_csv("D:/DO_NOT_REMOVE/Data_Analyst_Junior/7_11/Данные для кейса/Копия partner_network.csv", names=column_names)
df_partner_network = df_partner_network.drop("Unnamed: 0", axis=1)
df_partner_network.shape

(387430, 5)

In [68]:
df_partner_network.head(5)

   user_id funnel_stage  timestamp  profit       os
0   829539     interest     150003     NaN      iOS
1   817640     interest     150003     NaN  Android
2   890248     purchase     150003  2136.0  Android
3  1050415     interest     150004     NaN  Android
4   586829     interest     150004     NaN      iOS

In [71]:
df_other = pd.read_csv("D:/DO_NOT_REMOVE/Data_Analyst_Junior/7_11/Данные для кейса/Копия other.csv")
df_other = df_other.drop("Unnamed: 0", axis=1)
df_other.shape

(22588, 5)

In [72]:
df_other.head(5)

   user_id   funnel_stage  timestamp  profit       os
0   619081  consideration     150013     NaN      iOS
1   900637  consideration     150013     NaN      iOS
2   551565       interest     150017     NaN      iOS
3  1037574       interest     150023     NaN  Android
4  1048472       interest     150047     NaN  Android

## Объединяем все каналы коммуникации в один дф

In [117]:
channels = df_advertising_information['ad_channel'].tolist()
channels

['search',
 'banner',
 'video',
 'native',
 'partner_network',
 'rich',
 'organic_traffic',
 'other']

In [118]:
prefixed_channels = [f"df_{channel}" for channel in channels]
prefixed_channels

['df_search',
 'df_banner',
 'df_video',
 'df_native',
 'df_partner_network',
 'df_rich',
 'df_organic_traffic',
 'df_other']

In [119]:
dfs = [globals()[channel] for channel in prefixed_channels]

In [131]:
df_advertising_information

        ad_channel  price
0           search   1.50
1           banner   0.50
2            video   0.75
3           native   2.00
4  partner_network   1.00
5             rich   2.50
6  organic_traffic   0.00
7            other    NaN

In [137]:
# Функция для добавления колонок 'ad_channel' и 'price' к каждому DataFrame
def add_columns(df, ad_info_row):
    df['ad_channel'] = ad_info_row['ad_channel']
    df['price'] = ad_info_row['price']
    return df

# Применяем функцию к каждому DataFrame в списке dfs
dfs_with_columns = [add_columns(df.copy(), df_advertising_information.iloc[i]) for i, df in enumerate(dfs)]

In [138]:
joined_df = pd.concat(dfs_with_columns, axis=0)

In [139]:
joined_df.shape

(3845707, 7)

In [142]:
joined_df.head(5)

   user_id   funnel_stage  timestamp  profit       os ad_channel  price
0   387356       INTEREST     150000     NaN      iOS     search    1.5
1   619571  CONSIDERATION     150000     NaN      iOS     search    1.5
2   230119       INTEREST     150000     NaN      iOS     search    1.5
3   399556       INTEREST     150000     NaN      iOS     search    1.5
4   556959       INTEREST     150001     NaN  Android     search    1.5

In [141]:
joined_df.tail(5)

       user_id   funnel_stage  timestamp  profit       os ad_channel  price
22583   551827         intent     212778     NaN      iOS      other    NaN
22584   357210  consideration     213933     NaN  Android      other    NaN
22585   655650         intent     216711     NaN  Android      other    NaN
22586   749522       interest     217120     NaN  Android      other    NaN
22587   707705  consideration     219223     NaN      iOS      other    NaN

In [143]:
# Проверка поколичеству строк
def total_num_rows(dfs_with_columns):
    total_rows = sum(df.shape[0] for df in dfs_with_columns)
    return total_rows

total_rows = total_num_rows(dfs_with_columns)
total_rows

3845707

## Сортируем по по колонке timestamp и сохраняем

In [147]:
final_df = joined_df.sort_values(by='timestamp', ascending=False)

In [148]:
final_df.shape

(3845707, 7)

In [149]:
final_df.head(20)

,user_id,funnel_stage,timestamp,profit,os,ad_channel,price
1491204,151184,INTEREST,225688,NaN,iOS,search,1.5
531583,720354,purchase,225495,50.0,Android,organic_traffic,0.0
531582,947521,consideration,225482,NaN,Android,organic_traffic,0.0
1491203,1034498,INTENT,225430,NaN,iOS,search,1.5
1491202,929180,INTENT,224682,NaN,iOS,search,1.5
1491201,749577,PURCHASE,224647,2136.0,iOS,search,1.5
1491200,501946,INTENT,224125,NaN,Android,search,1.5
531581,706604,intent,223417,NaN,iOS,organic_traffic,0.0
1491199,980989,INTEREST,223379,NaN,Android,search,1.5
531580,104960,purchase,223361,520.0,iOS,organic_traffic,0.0
387429,544693,interest,223203,NaN,iOS,partner_network,1.0
1491198,688043,INTEREST,223128,NaN,iOS,search,1.5
1491197,500009,CONSIDERATION,223110,NaN,iOS,search,1.5
576168,799641,consideration,223039,NaN,Android,banner,0.5
1491196,795944,INTEREST,222890,NaN,iOS,search,1.5
531579,750226,purchase,222773,260.0,Android,organic_traffic,0.0
1491195,152432,PURCHASE,222568,2136.0,Android,search,1.5
1491194,959881,CONSIDERATION,222338,NaN,Android,search,1.5
387428,545060,consideration,221843,NaN,iOS,partner_network,1.0
576167,861271,consideration,221756,NaN,iOS,banner,0.5

In [152]:
# Сохранить DataFrame в файл CSV
final_df.to_csv('D:/DO_NOT_REMOVE/Data_Analyst_Junior/7_11/Данные для кейса/funnel_info.csv', index=False)